! SAGA Xresources palette
*.foreground: #FAF8F6
*.background: #05080a
*.color0:     #05080a
*.color8:     #0f1214
*.color1:     #ffc2d0
*.color9:     #ffc2d0
*.color2:     #b9fdcd
*.color10:    #b9fdcd
*.color3:     #ffffc6
*.color11:    #ffffc6
*.color4:     #ffe1b1
*.color12:    #ffe1b1
*.color5:     #C4FFFE
*.color13:    #C4FFFE
*.color6:     #d7caed
*.color14:    #d7caed
*.color7:     #faedff
*.color15:    #faedff
